$text-color: #FFFFFF;

.game-page {
    background: linear-gradient(180deg, #111226 0%, rgba(88, 33, 166, 0.9) 48.96%, rgba(137, 70, 166, 0.9) 100%);
    min-height: 100vh;
    color: $text-color
}

.game-page__title {
    color: $text-color
}

.game-page__content {
    display: flex;
    flex-direction: row;
    background-color: #111226;
}

.game-page__left {
    width: 60%;
}

.game-page__right {
    display: flex;
    width: 40%;
    margin: auto;
    justify-content: center;
}

.game-page__about {
    background-color: #111226;
    h2 {
        color: $text-color;
    }
}