$text-color: #FFFFFF;

.game-page {
    background-color: #111226;
    min-height: 100vh;
    color: $text-color
}

.game-page__title {
    color: $text-color
}

.game-page__content {
    display: flex;
    flex-direction: row;
    background-color: #111226;
}

.game-page__left {
    width: 60%;
}

.game-page__right {
    display: flex;
    width: 40%;
    margin: auto;
    justify-content: center;
}

.game-page__about {
    background-color: #111226;
    padding: 40px;
    h2 {
        color: $text-color;
    }
}