.gamecard {
    display: flex;
    max-width: 350px;
    max-height: 400px;
    flex-direction: row;
    flex-wrap: wrap;
    border: none;
    margin: 10px 20px 10px 20px;
    background-color: #111226;
    border-radius: 10px;
    cursor: pointer;
}
.game-cover {
    flex: 1;
    min-height: 200px;
    min-width: 300px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}
.game-about {
    flex: 1;
}
.game-genre {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 10px;
}
.game-title {
    color: white;
}
.game-price {
    color: white;
}
.game-year {
    color: white;
}