$primary-color: #111226;
$text-color: #FFFFFF;

.header {
    display: flex;
    height: 20%;
    width: 100%;
    background-color: $primary-color;
    flex-direction: row;
}
.header__left {
    flex: 1;
    margin: auto;
}
.header__logo {
    align-items: center;
    flex: 1;
    max-width: 180px;
    max-height: 80px;
    object-fit: cover;
}
.header__cart {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.header__total {
    padding: 0px 20px 0px 20px;
    color: $text-color;
}

.cart-menu {
    width: 400px;
    padding: 10px 20px;
    z-index: 2;
}

.cart-menu__arrange {
    margin-top: 20px;
    padding: 20px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
}

.cart-menu__total-price {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}