$primary-color: #111226;
$text-color: #FFFFFF;

.header {
    display: flex;
    min-height: 70px;
    background-color: $primary-color;
    flex-direction: row;
}
.header__left {
    flex: 1;
}
.header__title {
    align-items: center;
    flex: 1;
    color: $text-color;
}
.header__cart {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.header__total {
    padding: 0px 20px 0px 20px;
    color: $text-color;
}