.categoryitem {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-height: 50px;
    min-width: 100px;
    background-color: transparent;
    border: solid 2px;
    border-radius: 10px;
    margin: 0px 10px 10px 10px;
    font-size: larger;
    font-weight: 500;
    cursor: pointer;
    &:hover{
        background-color: blue;
    }
    &:focus{
        background-color: white;
    }
    @media screen and (max-width: 600px) {
        font-size: smaller;
        min-height: 20px;
        min-width: 40px;
    }
}