.main_content {
    display: flex;
    background: linear-gradient(180deg, #111226 0%, rgba(88, 33, 166, 0.9) 48.96%, rgba(137, 70, 166, 0.9) 100%);
    mix-blend-mode: normal;
    min-height: 1000px;
}