.gamelist-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}

.gamelist {
    display: flex;
    flex: 4;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}